<div class="sidebar">
    <div class="logo">
        <img style="width: 70px;" src="assets/images/logo.png" alt>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <fa-icon class="fa-lg" [icon]="faHouse"></fa-icon>
            <a routerLink="/home"><span>Home</span></a>
        </li>
        <li class="list-group-item"> <fa-icon class="fa-lg"
                [icon]="faMugHot"></fa-icon>
            <a routerLink="/product"><span>Product</span></a> </li>
        <li class="list-group-item"> <fa-icon class="fa-lg"
                [icon]="faSort"></fa-icon>
            <span>Contact</span></li>
        <li class="list-group-item"> <fa-icon class="fa-lg"
                [icon]="faUser"></fa-icon>
            <span>Bill</span></li>
        <li class="list-group-item"> <fa-icon class="fa-lg"
                [icon]="faGhost"></fa-icon>
            <span>Client</span></li>
    </ul>
</div>