<div class="content-info">
    <img src="assets/images/img1.jpeg" alt="info">
    <h4>{{"Name"}}</h4>
    <p class="townhouse">Apartment</p>
    <small>2 bedrooms • 2 bathrooms • 240m2</small>
    <p class="price">{{12324324353}}</p>
    <p>
        Follow the link below for a more detailed description.
        description of somebody/something a brief description of the
        software
        The name means ‘no trees’ and it is an accurate description of
        the island.
        Police have issued a description of the gunman.
        This is a film that defies description
    </p>

    <div class="d-flex justify-content-end align-items-end">
        <div>
            <button class="btn btn-dark">-</button>
            {{count}}
            <button class="btn btn-dark" (click)="handleClickCount()">+</button>
        </div>
        <div>
            <button type="button"
                class="btn btn-dark btn-detail">Add Cart</button>
        </div>

    </div>
</div>